body {
  background-color: rgb(29, 29, 29);
}

.container-login {
  text-align: center;
  color: white;
  background-color: #333333;
  padding: 20px;
  width: 300px;
  border-radius: 20px;
  margin: auto;
  margin-top: 100px;
}
.icon {
  padding-right: 5px;
}
.textbox {
  margin: 10px;
}
input {
  border: none;
  padding: 3px;
  border-radius: 3px;
}
.botao {
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 10px;
}
a {
  color: white;
  text-decoration: none;
}
.logo {
  width: 140px;
  margin: 0;
}
h1 {
  margin: 0;
}
.listagem {
  display: flex;
  flex-direction: column;
}
.container-horariosAll {
  margin: auto;
  color: whitesmoke;
  text-align: center;
  background-color: #414141;
  width: 750px;
  overflow-x: hidden;
  overflow-y: auto;
  height: 350px;
  border-radius: 10px;
}

.container-horario {
  fill-opacity: 0;
  stroke: #6cd5f5;
  stroke-width: 1px;
  rx: 2px;
}
.texto-horario {
  fill: #6cd5f5;
  font-size: 13px;
}
.container-agendamento {
  stroke: #ffffff;
  stroke-width: 1px;
  rx: 2px;
  fill: rgb(139, 15, 15);
}

.container-tabelaHorarios {
  border-radius: 10px;
  width: 60%;
  background-color: #242424;
  margin: auto;
  text-align: center;
  margin-top: 30px;
  padding: 20px;
}
.title-horarios {
  color: whitesmoke;
  font-size: 40px;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #242424;
}
::-webkit-scrollbar-track:hover {
  background: #363636;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(172, 172, 172);
}

nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  display: block;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}
.nav-logo {
  width: 70px;
  padding: 5px;
  padding-left: 20px;
}
.nav-table {
  width: 100%;
}
.nav-user {
  text-align: right;
  padding: 7px;
}
/*
.monitor-select {
  width: 180px;
  background-color: #333;
  border: none;
  padding: 5px;
  color: whitesmoke;
  margin: 10px;
  border-radius: 3px;
}

*/
/* The container must be positioned relative: */
.monitor-select {
  font-family: Arial;
  margin: auto;
  width: 200px;
}

.monitor-select select {
  width: 180px;
  background-color: #333;
  border: none;
  padding: 5px;
  color: whitesmoke;
  margin: 10px;
  border-radius: 3px;
}