
body {
  background-color: rgb(29, 29, 29);
}

.container-login {
  text-align: center;
  color: white;
  background-color: #333333;
  padding: 20px;
  width: 300px;
  border-radius: 20px;
  margin: auto;
  margin-top: 100px;
}
.icon {
  padding-right: 5px;
}
.textbox {
  margin: 10px;
}
input {
  border: none;
  padding: 3px;
  border-radius: 3px;
}
.botao {
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 10px;
}
a {
  color: white;
  text-decoration: none;
}
.logo {
  width: 140px;
  margin: 0;
}
h1 {
  margin: 0;
}
.listagem {
  display: flex;
  flex-direction: column;
}