body {
  background-color: rgb(29, 29, 29);
  margin: 0px;
}
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.container-login {
  text-align: center;
  color: white;
  background-color: #333333;
  padding: 20px;
  width: 300px;
  border-radius: 20px;
  -webkit-animation: mover 0.5s alternate; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: mover 0.5s alternate; /* Firefox < 16 */
  animation: mover 0.5s alternate;
  justify-content: center;
  align-items: center;
}
.icon {
  padding-right: 5px;
}
.textbox {
  margin: 10px;
}
input {
  border: none;
  padding: 3px;
  border-radius: 3px;
}
.botao {
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 10px;
}
a {
  color: white;
  text-decoration: none;
}
.logo {
  width: 140px;
  margin: 0;
}
h1 {
  margin: 0;
}
.listagem {
  display: flex;
  flex-direction: column;
}
.container-horariosAll {
  margin: auto;
  color: whitesmoke;
  text-align: center;
  background-color: #414141;
  width: 750px;
  overflow-x: hidden;
  overflow-y: auto;
  height: 350px;
  border-radius: 10px;
}
.colunaHorarios {
  height: 600px;
  width: 100px;
  position: relative;
  text-align: left;
  -webkit-animation: mover 1s alternate; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: mover 1s alternate; /* Firefox < 16 */
  animation: mover 1s alternate;
}
.btnHorario {
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid #6cd5f5;
  border-radius: 3px;
  color: whitesmoke;
  position: absolute;
  width: 100px;
}
.agendamento {
  background-color: rgb(196, 48, 48);
  border: 1px solid #ffffff;
  border-radius: 3px;
  color: whitesmoke;
  position: absolute;
  width: 100px;
}
.btnHorario:hover {
  cursor: pointer;
}
.container-tabelaHorarios {
  border-radius: 10px;
  width: 60%;
  background-color: #242424;
  margin: auto;
  text-align: center;
  margin-top: 30px;
  padding: 20px;
  -webkit-animation: mover 1s alternate; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: mover 1s alternate; /* Firefox < 16 */
  animation: mover 1s alternate;
}
.title-horarios {
  color: whitesmoke;
  font-size: 40px;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #242424;
}
::-webkit-scrollbar-track:hover {
  background: #363636;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(172, 172, 172);
}
.monitor-select {
  margin: auto;
}
.monitor-select * {
  font-family: Arial;
  border-radius: 3px;
  margin: 10px;
  padding: 5px;
  border: none;
  color: whitesmoke;
}

.monitor-select select {
  width: 180px;
  background-color: #333;
  margin-right: 0;
}
.monitor-select button {
  background-color: #414141;
  width: 130px;
}
nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  display: block;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  &:hover {
    background-color: #111;
  }
}
.nav-logo {
  width: 70px;
  padding: 5px;
  padding-left: 20px;
}
.nav-table {
  width: 100%;
}
.nav-user {
  text-align: right;
  padding: 7px;
}
.title {
  color: whitesmoke;
  font-size: 30px;
}

.agen-background {
  position: absolute;
  x: 0;
  y: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(17, 17, 17, 0.5);
  z-index: 2;
}
.container-agen {
  width: 40%;
  background-color: #363636;
  margin: auto;
  border-radius: 10px;
  color: whitesmoke;
  margin-top: 10%;
  padding: 20px;
  z-index: 2;
  -webkit-animation: mover 0.5s alternate; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: mover 0.5s alternate; /* Firefox < 16 */
  animation: mover 0.5s alternate;
}
.agendamento-box {
  vertical-align: top;
}
.close {
  text-align: right;

  &:hover {
    cursor: pointer;
  }
}
.icon-close {
  font-size: 20px;
}
.tableAgendamento {
  width: 100%;
  height: 120px;
  margin: auto;
}
.conteiner-Agendamentos {
  height: 200px;
  width: 200px;
  position: relative;
  text-align: left;
  margin-top: 20px;
  background-color: whitesmoke;
  border-radius: 3px;
  overflow-x: hidden;
  overflow-y: auto;
}
.horario-input {
  width: 25px;
  margin: 2px;

  &.duracao {
    width: 40px;
    margin-right: 15px;
  }
}
.msgErro {
  background-color: rgb(185, 34, 34);
  color: whitesmoke;
  margin-top: 10px;
  padding: 5px;
  border-radius: 3px;
}
.msgCadastrado {
  background-color: rgb(11, 138, 17);
  color: whitesmoke;
  margin-top: 10px;
  padding: 5px;
  border-radius: 3px;
}
@-webkit-keyframes mover {
  0% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes mover {
  0% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
