
monitoria-agenda-app/package-lock.json
monitoria-agenda-app/package-lock.json
monitoria-agenda-app/src/components/Horarios/index.js
MonitoriaAgenda_API/obj/project.nuget.cache
MonitoriaAgenda_API/obj/project.nuget.cache
MonitoriaAgenda_API/obj/project.assets.json
MonitoriaAgenda_API/obj/Debug/net5.0/ref/api.dll
MonitoriaAgenda_API/obj/Debug/net5.0/api.pdb
MonitoriaAgenda_API/obj/Debug/net5.0/api.dll
MonitoriaAgenda_API/obj/Debug/net5.0/api.csprojAssemblyReference.cache
MonitoriaAgenda_API/obj/Debug/net5.0/api.csproj.FileListAbsolute.txt
MonitoriaAgenda_API/obj/Debug/net5.0/api.csproj.CoreCompileInputs.cache
MonitoriaAgenda_API/obj/Debug/net5.0/api.csproj.AssemblyReference.cache
MonitoriaAgenda_API/obj/Debug/net5.0/api.assets.cache
MonitoriaAgenda_API/obj/api.csproj.nuget.g.props
MonitoriaAgenda_API/obj/api.csproj.nuget.dgspec.json
